<!DOCTYPE html>
<html ng-app='app'>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Play dixit</title>
        <link href="css/bootstrap.min.css" rel="stylesheet"/>
        <link href="css/style.css" rel="stylesheet"/>
    </head>
    <body ng-controller='mainController'>
        <div class='row' id='mobile-alert'>
            <h1 class='alert alert-danger text-center'>Dégainez votre smartphone !</h1>
            <div class='text-center'><img src='https://chart.googleapis.com/chart?cht=qr&chs=250x250&chl=http%253A%252F%252Fjbpasquier.eu%252Fdixit&chld=H|0'/></div>
            <h1 class='text-center'>
                <a href='http://jbpasquier.eu/dixit'>http://jbpasquier.eu/dixit</a>
            </h1>
        </div>
        <div class='container-fluid' id='desktop-alert'>
            <div class='row text-center'>
                <h1>Dixit
                    <small>Angular edition</small>
                </h1>
            </div>
            <hr/>
            <div id='noplayers'>
                <div class='row'>
                    <div class='col-xs-12'>
                        <textarea ng-model="players_submit" class='form-control' rows="8" placeholder="Joueurs séparés par un saut de ligne"></textarea>
                        <button ng-click='launch()' class='btn btn-lg btn-block btn-primary'>Let's drink</button>
                    </div>
                </div>
            </div>
            <div id='players' style='display:none;'>
                <div class='row'>
                    <div class='col-xs-12 text-center'>
                        {{whodice}}
                    </div>
                    <div class='col-xs-6 text-center'>
                        <span ng-bind-html='d1.toDice()' class='btn btn-info'></span>
                    </div>
                    <div class='col-xs-6 text-center'>
                        <span ng-bind-html='d2.toDice()' class='btn btn-info'></span>
                    </div>
                </div>
                <hr/>
                <div class='row'>
                    <div class="col-xs-12 text-center">
                        <p>Le dixit est :
                            {{whodixit || 'personne'}}
                        </p><p>Total :
                            {{total}}</p>
                    </div>
                    <div class="col-xs-12 text-center">
                        <span ng-bind-html='result'></span>
                    </div>
                </div>
                <div class='navbar navbar-fixed-bottom'>
                    <button class='btn btn-lg btn-block btn-primary' ng-click='loadDice()'>Play!</button>
                </div>
            </div>
        </div>
        <script src="js/libs/jquery.min.js"></script>
        <script src="js/libs/bootstrap.min.js"></script>
        <script src="js/libs/angular.min.js"></script>
        <script src="js/controllers/mainController.js"></script>
        <script src="app.js"></script>
    </body>
</html>
